doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/script.js')
    meta(http-equiv='refresh' content='15; url=/')
  body
    block content
